{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Manually add book</title>
    <script type="text/javascript" 
            src="{% static "js/jquery.js" %}"></script>
  </head>
  <body>
    <form method="POST">
      {% csrf_token %}
      Input This {{ form.definitely_need_this }}
      {% for error in form.definitely_need_this.errors %}
        <span class="error">*</span><strong>{{ error|escape }}</strong>
        {% if forloop.first %}
        <script>$('#id_definitely_need_this').css('border', '1px solid red');</script>
        {% endif %}
      {% endfor %}

      Check This {{ form.check_this }}

      <div id="showIfIsChecked" 
           {% if not form.check_this.value %} style="display:none" {% endif %}>
        and Show This {{ form.might_need_this }}
      </div>
      <button type="submit">Submit!</button>
    </form>

    <script type="text/javascript" 
            src="{% static "js/hideyshowy.js" %}"></script>
  </body>
</html>
