{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Manually add book</title>
    <script type="text/javascript" 
            src="{% static "js/jquery.js" %}"></script>
  </head>
  <body>
    <form>
      Input This {{ form.definitely_need_this }}
      Check This {{ form.check_this }}

      <div style="display:none" id="showIfIsChecked">
        and Show This {{ form.might_need_this }}
      </div>
      <button type="submit">Submit!</button>
    </form>

    <script type="text/javascript" 
            src="{% static "js/hideyshowy.js" %}"></script>
  </body>
</html>
