<form action="" method="POST">
  {% csrf_token %}
  <p>
    <label for="id_name">Name:</label> 
    <input cols="80" id="id_name" maxlength="200" name="name" rows="20" type="text">
  </p>
  <p>
    <label for="id_authors">Authors:</label>


    <div>
      <select name="titles">
        <option value="MR">Mr</option>
        <option value="MRS">Mrs</option>
        <option value="MS">Ms</option>
      </select>
      <input name="authors">
    </div>

    <div>
      <select name="titles">
        <option value="MR">Mr</option>
        <option value="MRS">Mrs</option>
        <option value="MS">Ms</option>
      </select>
      <input name="authors">
    </div>

    <div>
      <select name="titles">
        <option value="MR">Mr</option>
        <option value="MRS">Mrs</option>
        <option value="MS">Ms</option>
      </select>
      <input name="authors">
    </div>

  </p>
  <input type="submit" value="Send message">
</form>
