{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Manually add book</title>
    <script type="text/javascript" 
            src="{% static "js/jquery.js" %}"></script>

  </head>
  <body>    
    <form action="" method="POST">
      {% csrf_token %}
      <p>
        <label for="id_name">Book Title:</label> 
        {{ book.name }}
        {% for error in book.name.errors %}
        <span class="error">*</span><strong>{{ error|escape }}</strong>
            {% if forloop.first %}
            <script>$('#id_name').css('border', '1px solid red');</script>
            {% endif %}

        {% endfor %}
      </p>
      <p>
        <label for="id_authors">Authors:</label>

        <div id="authors">
          {% for author in authors %}
          <div class="author">
            {{ author.title }}
            {{ author.name }} 

            {% if not forloop.first %}
            <button type="button">Remove</button>
            {% endif %}

            {% for error in author.title.errors %}
            <span class="error">*</span> Title: <strong>{{ error|escape }}</strong>
            {% endfor %}

            {% for error in author.name.errors %}
            <span class="error">*</span> Name: <strong>{{ error|escape }}</strong>

            {% if forloop.first %}
            <span id="ph{{forloop.parentloop.counter}}"></span>
            <script>
              $("#ph{{forloop.parentloop.counter}}")
              .parent(".author")
              .find("input")
              .css('border', '1px solid red');
            </script>
            {% endif %}

            {% endfor %}

          </div>
          {% endfor %}
        </div>
        <button type="button" id="add_author">Add Author</button>

        <div id="author_prototype" style="display:none">
          <div class="author">
            {{ author_prototype.title }}
            {{ author_prototype.name }}
            <button type="button">Remove</button>
          </div>
        </div>

        <div>
          Topic: {{ topic.name }}

          {% for error in topic.name.errors %}
          <span class="error">*</span><strong>{{ error|escape }}</strong>
            {% if forloop.first %}
            <script>$('#id_topic_name').css('border', '1px solid red');</script>
            {% endif %}
          {% endfor %}

        </div>
      </p>
      <input type="submit" value="Send message">
    </form>

    <script src="{% static "js/manual.js" %}"></script>

  </body>
</html>
