{% extends "layout.html" %}
{% load staticfiles %}

{% block content %}

<script type="text/javascript" 
        src="{% static "js/pretties.js" %}"></script>

<div class="container">
  <div class="row something-good">
    <div class="col-xs-5">
      <h3>Something good <small>happens</small></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-5">
      <p class="lead">In this form something good is going to happen</p>
    </div>
  </div>
  <form>
    {% csrf_token %}
    <div class="row">
      <div class="col-xs-1">
        <label>Name</label>
      </div>
      <div class="col-xs-1" form-validate-name>
        {{ form.name }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
        <button type="submit">Submit</button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3">
        {# pretty neat include #}
        {% include "something-to-include.html" with you="Victory" %}
      </div>
    </div>
  </form>
</div>
{% endblock %}
